.u-w-button {
  font-size: 36px;
  color: #000000;
  background-color: #F8F8F8;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  height: 92px;
  padding-left: 28px;
  padding-right: 28px;
}

.u-w-button:disabled {
  opacity: 0.6;
}

.u-w-button-default {
  color: #000000;
  background-color: #F8F8F8;
  border: 1px solid #CCCCCC;
}

.u-w-button-default:disabled {
  background-color: #F7F7F7;
}

.u-w-button-default-plain {
  background-color: #FFFFFF;
  color: #353535;
  border: 1px solid #353535;
}

.u-w-button-primary {
  background-color: #1AAD19;
  color: #FFFFFF;
  border: 1px solid #1AAD19;
}

.u-w-button-primary-plain {
  background-color: #FFFFFF;
  color: #1AAD19;
  border: 1px solid #1AAD19;
}

.u-w-button-primary:disabled {
  background-color: #9ED99D;
}

.u-w-button-primary-plain:disabled {
  color: #000000;
  border: 1px solid #000000;
}

.u-w-button-warn {
  background-color: #E64340;
  color: #FFFFFF;
  border: 1px solid #E64340;
}

.u-w-button-warn-plain {
  background-color: #FFFFFF;
  color: #E64340;
  border: 1px solid #E64340;
}

.u-w-button-warn:disabled {
  background-color: #EC8B89;
}

.u-w-button-warn-plain:disabled {
  color: #000000;
  border: 1px solid #000000;
}

.u-w-button-mini {
  font-size: 26px;
  width: 120px;
  height: 60px;
}